body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav {
    width: 100vw;
    height: 10vh;
    background-color: blueviolet;
}

.container {
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: normal;
    gap: 20px;
}

aside {
    width: 20vw;
    height: 75vh;
    background-color: salmon;
}

main {
    width: 80vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

header {
    width: 80%;
    height: 40%;
    background-color: chartreuse;
}

.more {
    width: 80%;
    height: 50%;
    display: flex;
    gap: 20px;
}

.esquerda {
    width: 50%;
    height: 100%;
    background-color: darkslateblue;
}

.direita {
    width: 50%;
    height: 100%;
    background-color: crimson;
}

footer {
    width: 100vw;
    height: 10vh;
    background-color: orangered;
}