body {
    margin: 0px;
    padding: 0px;
}

.container {
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-rows: 15vh 30vh 40vh 15vh;
    grid-template-columns: 35vw 35vw 25vw;
    background-color: black;
}

nav {
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: purple;
}

aside {
    grid-row: 2/4;
    grid-column: 3/4;
    background-color: coral;
}

header {
    grid-row: 2/3;
    grid-column: 1/3;
    background-color: orangered;
}

.esquerda {
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: slateblue;
}

.direita {
    grid-row: 3/4;
    grid-column: 2/3;
    background-color: crimson;
}

footer {
    grid-row: 4/5;
    grid-column: 1/4;
    background-color: violet;
}