body {
    height: 100vh;
    background-color: #ecf0f1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main {
    width: 80vw;
    height: 80vh;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
}

aside {
    width: 45%;
    height: 100%;
    box-sizing: border-box;
    background-color: #58af9c;
    color: aliceblue;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
    text-align: center;
}

aside>h1,
p {
    margin: 5px;
}

aside>button {
    width: 130px;
    height: 30px;
    margin-top: 15px;
    color: aliceblue;
    border-radius: 15px;
    border: 1px solid aliceblue;
    background-color: rgba(0, 0, 0, 0);

}