.painel {
    width: 300px;
    height: 300px;
    background-color: black;
    background-image: url("https://static.wikia.nocookie.net/megaman/images/4/4f/Kotobukiya%27s_Zero.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}