.painel {
    width: 300px;
    height: 300px;
    background-color: green;
    background-image: url("https://static.wikia.nocookie.net/megaman/images/4/4f/Kotobukiya%27s_Zero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 10%;
    box-shadow: 13px 13px 5px red;
    color: aliceblue;
}

.painel>p {
    position: absolute;
    top: 10px;
    left: 100px;
}

.painel>img {
    width: 100%;
    height: 100%;
}